.project {
  padding: 10px;
  margin: 5px auto; 
  max-width: 1500px; 
  padding-bottom: 60px;
}

.project-box {
  font-size: 35px;
  letter-spacing: 10px;
}


.project-title {
  font-size: 40px;
}

/*PROJECT LANGUAGES*/
.project-lang {
  display: flex;
  justify-content: space-between;
}
.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  text-align: left;
}

.project-lang h2 {
  font-size: 19px;
}
.lang-container {
  display: flex;
  gap: 10px;
  
}

.lang {
  background-color: #000000;
  padding: 4px 20px;
  border-radius: 12px;
  display: inline-block;
  margin-top: 6px;
}

.lang h1 {
  margin: 0;
  font-size: 15px;
  color: white;
}

/*ICONS*/

.project-icons {
  overflow: visible;
  
}

.project-icons .youtube-icon {
  width: 80px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-bottom: 10px;
  margin-right: 10px;
}

.project-icons .github-icon {
  width: 80px;
  cursor: pointer;
  transition: transform 0.2s ease;
  margin-bottom: 10px;
  margin-right: 10px;
}

.project-icons .youtube-icon:hover {
  transform: scale(1.2);
}

.project-icons .github-icon:hover {
  transform: scale(1.2);
}

/*PROJECT DEMO*/
.project-row {
  display: flex;
  gap: 5rem;
}

.project-photo {
  /*border: 2px solid blue;*/
  padding: 10px;
}
.project-photo h1 {
  font-size: 15px;
}

/*PROJECT DESCRIPTION*/
.project-des {
  /*border: 2px solid rgb(255, 0, 76);*/
  padding: 10px;
  font-size: 10px;
}

.project-des ul {
  font-size: 18px;
  line-height: 1.8;
  margin-top: 1rem;
  margin-left: 40px;
}

.project-des li {
  margin-bottom: 10px;
}

.list li {
  font-family: "poppins-medium", monospace;
  font-weight: 400;
}

@media (max-width: 1300px) {
  .project-photo {
    display: none;
  }

  .project-lang {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .project-info {
    flex: 1;
    font-size: 14px;
  }

  .project-icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
  }

  .project-icons .youtube-icon,
  .project-icons .github-icon {
    width: 50px; 
    height: 50px; 
    margin-right: 5px;
    margin-bottom: 0;
    transition: transform 0.2s ease;
  }

  .project-icons .youtube-icon:hover,
  .project-icons .github-icon:hover {
    transform: scale(1.1); 
  }

  .project-des {
    font-size: 10px;
    margin-top: 20px;
  }

  .project-des ul {
    font-size: 16px;
    margin-left: 20px;
  }

  .lang h1 {
    font-size: 14px;
  }

  .project-title {
    font-size: 30px;
  }

  .project-box {
    font-size: 28px;
    letter-spacing: 5px;
  }
}

