.contact {
  position: relative;
  padding: 20px;
  margin: 0 190px;
  margin-top: 10px;
  text-align: center;
  border-radius: 16px;
  overflow: visible;
  color: white;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200px;
  width: calc(100% + 500px);
  height: 100%;
  background-image: url("../../assets/contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.contact h1 {
  padding: 20px;
  font-size: 50px;
  letter-spacing: 10px;
}

.contact h2 {
  font-size: 17px;
}
.contact-buttons {
  padding: 20px;
  margin-top: 20px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.contact-button {
  padding: 10px 20px;
  background-color: #242222;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.contact-button:hover {
  background-color: #18191a;
}

@media (max-width: 768px) {
  .contact {
    margin: 0 20px; 
    padding: 15px;  
  }

  .contact h1 {
    font-size: 27px; 
    letter-spacing: 5px; 
  }

  .contact h2 {
    font-size: 16px; 
  }

  .contact-buttons {
    display: flex;
    padding: 5px;
  }

  .contact-button {
    padding: 6px 12px;   
    font-size: 12px;      
    width: auto;          
    max-width: 200px;     
    margin: 5px auto;     
  }
}

