.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 10%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.navbar {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1px;
}

.navbar a {
  font-family: "poppins-regular", monospace;
  position: relative;
  font-size: 25px;
  color: rgb(0, 0, 0);
  margin-left: 45px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #000000;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}
